.homeContainer {
    display: flex;
    height: 100vh;
}

.mainContent {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 250px; /* Fixed sidebar width */
    background-color: #4A148C; /* Purple color */
    color: #fff;
    flex-shrink: 0; /* Prevents sidebar from shrinking */
    height: 100vh; /* Ensures it spans the full height */
    position: fixed; /* Ensures the sidebar stays fixed */
    top: 0;
    left: 0;
    z-index: 1000; /* Keeps the sidebar on top */
  }
  
  .pageContent {
    margin-left: 250px; /* Offsets the content by the sidebar width */
    width: calc(100% - 250px); /* Ensures content adapts to remaining width */
    padding: 20px;
    overflow: auto; /* Enables scrolling for content */
    background-color: #fff;
  }