.gm-green {
  background-color: #4caf50 !important; 
  color: white !important;
}

.gm-yellow {
  background-color: #ffeb3b !important; 
  color: black !important;
}

.gm-orange {
  background-color: #ff9800 !important; 
  color: black !important;
}

.gm-red {
  background-color: #f44336 !important; 
  color: white !important;
}
