.navbar {
  background-color: white !important;
  color: black;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  height: 60px;
}

.title {
  font-weight: bold;
}
