.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
  }
  
  .pageContent {
    margin-left: 220px; 
    padding: 20px;
    width: calc(100% - 220px);
  }
  

.tab {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
    cursor: pointer;
    color: #333;
    border-bottom: 1px solid #ddd;
}

.tab:hover { 
    background-color: #e0e0e0; 
}

.active {
    background-color: #6200ea;
    color: #fff;
    font-weight: bold;
}
