.sidebar {
  position: fixed;
  left: 0;
  top: 70px; 
  width: 250px;
  height: calc(100vh - 60px);  
  background: #f4f4f4;
  z-index: 100;  
  padding-top: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 15px;
  cursor: pointer;
}

.sidebar li.active {
  background-color: #ddd;
}
