.sidebar {
  position: fixed;
  left: 0;
  top: 70px; 
  width: 250px;
  height: calc(100vh - 60px);  
  background: #f4f4f4;
  z-index: 100;  
  padding-top: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 15px;
  cursor: pointer;
}

.sidebar li.active {
  background-color: #ddd;
}
.tab {
  padding: 12px;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: background 0.3s ease-in-out;
}
.icon {
  margin-right: 8px;
}